.shown {
  display:inline-block;
}

/* Для плавной прокрутки при нажатии на кнопку */
html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.main {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #aaa;

}

img {
  max-width: 100%;
}



/* Выделение пиков */
.fotochki.highlight {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 10px;
  padding-left: 6px;
  border: 6px solid;
}

.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
}

.up-button:hover {
  color: #473c8d;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #473c8d;
}