.shown {
    display: inline-block;
  }

  .hidden {
    display: none;
  }

  .main {
     margin-bottom: 20px;
     display: flex;
     flex-wrap: wrap;
     background-color: #aaa;
     
  }

  @media screen and (max-width: 1280px)
   { div.contentblock 
    {width: 1200px;} }

  /* Выделение пиков */
.fotochki.highlight {
   padding-top: 6px;
   padding-right: 6px;
   padding-bottom: 10px;
   padding-left: 6px;
   border: 6px solid;
 }

 .filter {
  display: flex;
  padding: 7px 22px 7px 12px;
  box-sizing: border-box;
  margin: 0 0 0 auto;
  font-size: inherit;
  border: none;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right 8px top 50%;
  background-size: 8px auto;
}

 