.shown {
    display: block;
  }

  .hidden {
    display: none;
  }

  .main {
     margin-bottom: 20px;
     display: flex;
     flex-wrap: wrap;
     background-color: #aaa;
     
  }

  img {max-width: 100%;}



  /* Выделение пиков */
.fotochki.highlight {
   padding-top: 6px;
   padding-right: 6px;
   padding-bottom: 10px;
   padding-left: 6px;
   border: 6px solid;
 }

 .up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}


 